<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Righteous" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <title>Fresh Tomatoes v2.0</title>
  </head>
  <body>
    <header>
      <div class="flex">
        <div class="hlogo">
          <a class="hlogo" href="{{ url_for('home') }}"><i class="fas fa-film circle-icon"></i></a>
        </div>
        <div class="htext">
          <h1>Fresh Tomatoes v2.0</h1>
          <span>The Movie Collection Database</span>
        </div>
      </div>
    </header>
    <main>
      <div class="flex">
        <div class="alert row left">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li><span class="flash lwarning">{{message}}</span></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </div>
        <div class="right sub">
          {%if 'username' not in session %}
          <a class="basic" href="{{url_for('showLogin')}}"><i class="fas fa-sign-in-alt"></i> Sign-In </a>
          {% else %}
          <a class="basic" href="{{url_for('gdisconnect')}}">Logout <i class="fas fa-sign-out-alt"></i></a>
          {% endif %}
        </div>
      </div>
      <div class="wrap">
        <div class="halfpage">
          <div class="old">
            <img src=" {{item.img}} " class="poster" alt="movie poster for {{item.title}}">
            <h3>{{item.title}} ({{item.year}})</h3>
            <h4> {{item.description}} </h4>
          </div>
        </div>
        <div class="halfpage">
          <div class="edit">
            <form action= "{{url_for('editMovie', collection_id = collection_id, movie_id=item.id)}}" method = 'POST'>
              <div class="header_edit">
                <span>Movie Title:</span><br>
                <input type = 'text' size='30' name = 'title' placeholder = '{{item.title}}'><br>
              </div>
              <div class="header_edit">
                <span>Release Date:</span><br>
                <input type = 'text' size='4' name = 'year' placeholder = '{{item.year}}'><br>
              </div>
              <div class="header_edit">
                <span>Movie Description:</span><br>
                <textarea name="description" rows="5" cols="31" placeholder = '{{item.description}}' ></textarea><br>
              </div>
              <div class="header_edit">
                <span>Movie Poster URL:</span><br>
                <input type = 'text' size='30' name = 'img' placeholder = '{{item.img}}'>
              </div>
              <div class="flex">
                <div class="link">
                  <a class="basic" href = "{{ url_for('movieCollection', collection_id = item.collection_id)}}"><i class="fas fa-ban"></i> Cancel </a>
                </div>
                <div class="link">
                  <button type='submit', value = 'Edit'><i class="fas   fa-cogs"></i> Edit </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <span class="footer_text">This product uses the TMDb API but is not endorsed or certified by TMDb.</span>
      <img src="{{ url_for('static', filename='img/logo-green.png') }}" class="flogo" alt="The Movie Database Logo">
    </footer>
  </body>
</html>
